page-scan {
   .toolbar-content p {
       margin-left: 10px;
   }

  .signOutButton {
     right: 0%;
     top: 0%;
     display:inline-block;
     position: absolute;
  }

  .statusMessage {
     left: 0%;
     top: 0%;
     display:inline-block;
     position: absolute;
  }

}
